syra_installer.bin
syra_build
sykno_env
poetry.lock
.vscode
.ipynb_checkpoints
syra/measurement/hdf5/*
!syra/measurement/hdf5/.gitkeep
syra/measurement/npy/*
!syra/measurement/npy/.gitkeep
syra/measurement/animation/*
!syra/measurement/animation/.gitkeep
**/__pycache__
__pycache__
