mira_installer.bin
mira_build
sykno_env
poetry.lock
.vscode
.ipynb_checkpoints
mira/measurement/hdf5/*
!mira/measurement/hdf5/.gitkeep
mira/measurement/npy/*
!mira/measurement/npy/.gitkeep
mira/measurement/animation/*
!mira/measurement/animation/.gitkeep
**/__pycache__
__pycache__
